
  <div id="header" style="background-color:#002147">
    <img src="/images/bluejackets.png" alt="" id="teamLogo" style="height: 100px; width: 150px;">
      <h1 class="teamName" style="color: white">Columbus Blue Jackets</h1>
  </div>
  <ul class="nav" id="nav" style="background-color:#c60c30">
      <li class="nav-item">
        <a class="nav-link active" href="/">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Schedule</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Roster</a>
      </li>
  </ul>


<h2 class="sectionHeader">Team Roster</h2>
<table class="table table-inverse" id="playerStats">
  <thead>
    <tr>
      <th>Name</th>
      <th>Age</th>
      <th>Nationality</th>
      <th>Team</th>
      <th>Position</th>
      <th>Games Played</th>
      <th>Goals</th>
      <th>Assists</th>
      <th>Points</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Cam Atkinson</td>
      <td>28</td>
      <td>USA</td>
      <td>CBJ</td>
      <td>RW</td>
      <td>82</td>
      <td>35</td>
      <td>27</td>
      <td>62</td>
    </tr>
    <tr>
      <td>Alexander Wennberg</td>
      <td>22</td>
      <td>SWE</td>
      <td>CBJ</td>
      <td>C</td>
      <td>80</td>
      <td>13</td>
      <td>46</td>
      <td>59</td>
    </tr>
    <tr>
      <td>Brandon Saad</td>
      <td>24</td>
      <td>USA</td>
      <td>CBJ</td>
      <td>LW</td>
      <td>82</td>
      <td>24</td>
      <td>29</td>
      <td>53</td>
    </tr>
  </tbody>
</table>
<h2 class="sectionHeader">Schedule</h2>
<table class="table table-inverse" id="teamSchedule">
  <thead>
    <tr>
      <th>Date</th>
      <th>Opponent</th>
      <th>Time</th>
      <th>Channel</th>
      <th>% To Win</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>10/6</td>
      <td><img src="/images/islanders.png" alt="" class="scheduleImage"></td>
      <td>7:00PM</td>
      <td>Local</td>
      <td>54%</td>
    </tr>
    <tr>
      <td>10/7</td>
      <td><img src="/images/blackhawks.png" alt="" class="scheduleImage"></td>
      <td>8:30PM</td>
      <td>Local</td>
      <td>36%</td>
    </tr> 
  </tbody>
</table>  