<div id="header">
  <img src="/images/buffalo.png" alt="" id="teamLogo" style="height: 200px; width: 250px;">
  <h1 class="teamCity">Buffalo</h1>
  <h1 class="teamName">Sabres</h1>
  <ul class="nav" id="nav">
    <li class="nav-item">
      <a class="nav-link active" href="#">Home</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Schedule</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Roster</a>
    </li>
  </ul>
</div>



<table class="table table-inverse" id="playerStats">
  <thead>
    <tr>
      <th>#</th>
      <th>First Name</th>
      <th>Last Name</th>
      <th>Username</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>Mark</td>
      <td>Otto</td>
      <td>@mdo</td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>Jacob</td>
      <td>Thornton</td>
      <td>@fat</td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td>Larry</td>
      <td>the Bird</td>
      <td>@twitter</td>
    </tr>
  </tbody>
</table>