.nav-link{
	color: white;
}
.nav-link:hover {
	color: grey;	
}
.nav-link:active {
	border: 1px white solid;
}
#playerStats {
	width: 90%;
	margin: 0px 5% 0 5%;
}
#teamSchedule {
	width: 90%;
	margin: 0px 5% 100px 5%;
}
.nav {
	width: 100%;
}
#header {
	width: 100%;
	height: 130px;
}
#teamLogo {
	position: relative;
	left: 16px;
}
.teamName {
	position: absolute;
	width: 400px;
	left: 16px;
	top: 100px;
	font-size: 20px;
	margin: 0;
}
.teamCity {
	width: 100px;
	left: 205px;
	top: 10px;
	margin: 0;
}
.teamTableImage {
	width: 65px;
	height: 50px;
}
.teamLink{
	width: 65px;
	height: 50px;
}
#Eastern {
	position: relative;
	width: 100%;
	height: 40px;
	font-size: 30px;
	padding: 4px 0 0 10px;
	margin: 0;
	background-color: #d33;
	color: white;
}
#Western {
	position: relative;
	width: 100%;
	height: 40px;
	font-size: 30px;
	padding: 4px 0 0 10px;
	margin: 0;
	background-color: #0645ad;
	color: white;
}
.easternDivision{
	font-size: 20px;
}
.westernDivision{
	font-size: 20px;
}
#teamTable {
	width: 900px;
	font-size: 22px;
}
#tableContainer {
	position: relative;
	background-color: white;
}
.logo {
	height: 175px;
	width: 175px;
}
.headerTitle {
	color: white;
}
@media (min-width: 576px) {
	.eight-cols .col-sm-1 {
		flex: 0 0 12.5%;
		max-width: 12.5%;
	}
}
.sectionHeader {
	margin: 15px 0 0 5%;
}
.scheduleImage {
	height: 35px;
	width: 35px;
	margin: 0 0 0 16px;
}