#playerStats {
	width: 100px;
}
.nav {
	position: absolute
	width: 10px;
	left: 30%;
	top: 100px;
}
#header {
	width: 100%;
	height: 200px;
}
#teamLogo {
	position: absolute;
}
.teamName {
	position: absolute;
	width: 40%;
	left: 30%;
	top: 50px;
}
.teamCity {
	position: absolute;
	width: 40%;
	left: 30%;
}